stages:
  - plan
  - apply

.default_terraform_job:
  image: 
    name: hashicorp/terraform:${TERRAFORM_IMAGE_VERSION}
    entrypoint:
      - "/usr/bin/env"
      - "PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
      - terraform/{{ layer }}/.terraform/modules
      - terraform/{{ layer }}/.terraform/providers
  before_script:
    # Init Google Cloud service account
    - echo ${GOOGLE_CLOUD_SERVICE_ACCOUNT} > ${CI_PROJECT_DIR}/google-cloud-service-account.json
    - export GOOGLE_APPLICATION_CREDENTIALS=${CI_PROJECT_DIR}/google-cloud-service-account.json
  after_script:
    - unset GOOGLE_APPLICATION_CREDENTIALS
    - shred -u ${CI_PROJECT_DIR}/google-cloud-service-account.json

{% for tfvars_file in tfvars_files -%}

{% set filename = tfvars_file.split('.')[0] -%}

{{ filename }}-terraform-plan:
  extends: .default_terraform_job
  stage: plan
  script:
    - cd {{ path }}
    - terraform init -backend-config=./env-configurations/prod-backend.tfvars -backend-config="prefix=advanced-infrastructure/{{ layer }}/{{ filename }}"
    - terraform plan -var-file=./env-configurations/prod.tfvars -var-file=./configurations/{{ tfvars_file }} -out={{ filename }}.tfplan
  artifacts:
    paths:
      - {{ path }}/{{ filename }}.tfplan
    expire_in: 24 hour

{{ filename }}-terraform-apply:
  extends: .default_terraform_job
  stage: apply
  script:
    - cd {{ path }}
    - terraform init -backend-config=./env-configurations/prod-backend.tfvars -backend-config="prefix=advanced-infrastructure/{{ layer }}/{{ filename }}"
    - terraform apply "{{ filename }}.tfplan"
  needs:
    - {{ filename }}-terraform-plan
  when: manual
  only:
    - main

{% endfor -%}